
/***************************************************************************************/
/*
/*		Author: AS Designing
/*		Author URI: http://www.asdesigning.com
/*		Theme URI: http://www.astemplates.com
/*		
/*		Note: Design for Large desktop
/*
/***************************************************************************************/

@media screen and (min-width:980px) and (max-width: 1199px)
{
	
	
	h1,
	h2
	{
		font-size: 30px;
	}

	#header-row .mod-search_searchword
	{
		width: 230px;
	}
	
	.moduletable.social ul li.separator 
	{
		display: block;
	}
		
	.slide_title
	{
		font-size: 100px;
	}
	
	#camera-slideshow	
	{
		min-height: inherit;
	}
		
	.camera_caption a.readmore
	{
		right: 60px;
	}
	
	.camera_pag
	{
		display: none;	
	}
	
	.mod-newsflash-adv__links .item_content ul li a
	{
		font-size: 12px;
	}
	
	
	/***************************************************************************
	/*
	/*   gavic pro news
	/*
	/**************************************************************************/
	
	.nspArtScroll1 blockquote
{
	width: 70%;
}

	
	
}